--indent 4
--indentcase false
--trimwhitespace always
--importgrouping testable-bottom
--trailing-commas never
--disable wrapMultilineStatementBraces
--decimalgrouping 3,6
--header strip
--ifdef no-indent
--redundanttype inferred
--self remove
--semicolons never
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 200
--swiftversion 6.2
